<div class="well"><h3>Why did I make this when there are already so many Angular boilerplates?     </h3><hr/><p></p>I love AngularJS but none of the existing boilerplates had everything I wanted. None of them worked in IE8
and I couldn&apos;t find any that used LESS. Also, call me crazy but I prefer using CDN to manage my JS files
in my project so I don&apos;t have to manually deal with the physical files, so this boilerplate includes
everything except Bootstrap as a CDN link. The reason Bootstrap is not linked in through CDN is because
Respond JS (IE Compatability) requires a local copy of the CSS which makes the media queries (Bootstrap).
Also, I have yet to see another boilerplate which has a built in browser-saving theme selector (which I think is awesome).</div>