doctype html
html.no-js(xmlns:ng='http://angularjs.org', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')    
    title Hearthstone Deck DB
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // CSS libraries
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    <!--[if lte IE 8]>
    link(rel='stylesheet', type='text/css', href='bootstrap-3.3.4-dist/css/bootstrap.min.css')
    <![endif]-->
    // Grunt Generated CSS
    link(rel='stylesheet', type='text/css', href='stylesheet.min.css')
  body#ng-app(ng-app='AngularApp', ng-controller='AppController')
    // Non-Footer Content
    .wrapper
      <!--[if lte IE 8]>
      p.browserupgrade 
        | You are using an 
        strong outdated 
        | browser. Please 
        a(href='http://browsehappy.com/')
        | upgrade your browser to improve your experience.
      <![endif]-->
      // Navigation Bar
      div(ng-include='', src="'partials/navbar.html'")
      .container
        .row
          .col-sm-12
            div(accordion, close-others="true")
              div(accordion-group, is-open="Filters.Showing", class="panel-info")
                div(accordion-heading)
                  .container-fluid
                    | Deck Filters 
                    small.hidden-xs ({{ FILTERDECKDB.length }} decks from {{ FILTERDECKDB[FILTERDECKDB.length-1].DATE | date: 'MM/dd/yyyy' }} to {{ FILTERDECKDB[0].DATE | date: 'MM/dd/yyyy' }})
                    span.glyphicon.pull-right(ng-class="{'glyphicon-chevron-down': Filters.Showing, 'glyphicon-chevron-right': !Filters.Showing}")
                  //- .pull-right
                  //-   button.btn.btn-sm.btn-warning.span.glyphicon(ng-class="{ 'glyphicon-resize-small':Filters.Showing, 'glyphicon-resize-full':!Filters.Showing }", tooltip="{{ Filters.Showing ? 'Hide Filters' : 'Show Filters' }}", ng-click="Filters.Showing = !Filters.Showing;")
                  //-   &nbsp;
                  //-   button.btn.btn-sm.btn-danger.span.glyphicon.glyphicon-refresh(tooltip="Reset All Filters", ng-click="ResetFilters();")
                  //-   &nbsp;
                  //-   button.btn.btn-sm.btn-success.span.glyphicon.glyphicon-filter(tooltip="Apply Filter Settings", ng-click="Calculate();")
                  //- .clearfix
                .row
                  .col-sm-3
                      .form-group
                        label Cutoff Start Date
                        .input-group
                          input.form-control(datepicker-popup="", type="text", ng-model="Filters.StartDate", is-open="StartDatePicker.opened", ng-change="Calculate();")
                          span.input-group-btn
                            button.btn.btn-default(type="button", ng-click="OpenStartDatePicker($event)")
                              span.glyphicon.glyphicon-calendar
                      .form-group
                        label Cutoff End Date
                        .input-group
                          input.form-control(datepicker-popup="", type="text", ng-model="Filters.EndDate", is-open="EndDatePicker.opened", ng-change="Calculate();")
                          span.input-group-btn
                            button.btn.btn-default(type="button", ng-click="OpenEndDatePicker($event)")
                              span.glyphicon.glyphicon-calendar
                  form.col-sm-3
                    .form-group
                      label Class Filter
                      div(isteven-multi-select, input-model="Classes", output-model="Filters.Classes", button-label="icon", item-label="icon name countword", tick-property="selected", helper-elements="all none reset", on-close="Calculate();")
                    .form-group
                      label Archetype Filter
                      div(isteven-multi-select, input-model="Archetypes", output-model="Filters.Archetypes", max-labels="3", button-label="name", item-label="icon name countword", tick-property="selected", on-close="Calculate();")
                  form.col-sm-3
                    .form-group
                      label Event Filter
                      div(isteven-multi-select, input-model="Events", output-model="Filters.Events", max-labels="3", button-label="name", item-label="name countword", tick-property="selected", on-close="Calculate();")
                    .form-group
                      label Player Filter
                      div(isteven-multi-select, input-model="Players", output-model="Filters.Players", max-labels="3", button-label="name", item-label="name countword", tick-property="selected", on-close="Calculate();")
                  form.col-sm-3
                    .form-group
                      label Include Cards
                      div(isteven-multi-select, input-model="Cards", output-model="Filters.IncludeDecksWithCards", max-labels="3", button-label="name", item-label="name countword", tick-property="include", on-close="Calculate();")
                    .form-group
                      label Exclude Cards
                      div(isteven-multi-select, input-model="Cards", output-model="Filters.ExcludeDecksWithCards", max-labels="3", button-label="name", item-label="name countword", tick-property="exclude", on-close="Calculate();")
                .row
                  .col-sm-12
                    button.btn.btn-sm.btn-warning(ng-click="ResetFilters();")
                      | Clear All Filters 
                      span.glyphicon.glyphicon-refresh
        div(ng-view='')
      .push
    // Footer
    div(ng-include='', src="'partials/footer.html'")
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-88411478-1', 'auto');
    ga('send', 'pageview');
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.min.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-route.min.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.7/angular-css.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.1.5/angular-local-storage.min.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.js')
  script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.15/clipboard.min.js")
  script(type='text/javascript', src='hearthstonejson-dist/carddb.js')
  script(type='text/javascript', src='deckdb-dist/deckdb.js?4.3.2017.1')
  script(type='text/javascript', src='javascript.min.js')